*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Tahoma;
	font-size: 16px;
	color: rgb(75, 75, 75);
}	

body{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

:focus {
	outline: none;
}

.main-wrapper {
	position: relative;
	padding-bottom: 150px;
	height: auto;
}

.content-wrapper{
	margin: 0 auto;
	position: relative;
}

.top-banner {
	background-image: linear-gradient(#2BC448,#20940c);
	width: 100%;
	height: 130px;
}


.logo {
	max-width: 125px;
	max-height: 125px;
	padding-left: 50px;
}


.search-bar {
	position: absolute;
	width: 55%;
	max-width: 55%;
	height: 7%;
	min-height: 45.86px;
	max-height: 45.86px;
	left: 15rem;
	top: 2.7rem;
}

#search-box {
	background-color: #fff;
	color: rgb(66, 66, 66);
	width: 70.5%;
	height: 100%;
	padding: 0 25px;
	margin: 0;
	border-radius: 25px 0 0 25px;
	border: 1px solid rgb(165, 165, 165);
	border-right: none;
	cursor: pointer;
	float: left;
	font-size: 24px;
}

#search-button {
	position: absolute;
    border-radius: 0 25px 25px 0;
	height: 103%;
	min-height: 47.86px;
	width: 20.25%;
	min-width: 100px;
	border: 1px solid rgb(165, 165, 165);
	border-left: none;
    outline: none;
    background-color: #52C8FF;
	color: rgb(0, 0, 0);
	float: left;
	font-size: 24px;
	cursor: pointer;
	padding-bottom: 5px;
}

#search-button:hover {
    background-color: #33FF98;
	transition: 500ms;
}

.buttons {
	position: relative;
	float: right;
	padding-right: 10px;
	text-align: center;
	
}

.buttons a {
	margin: 10px;
	text-decoration: none;
	color: rgb(247, 247, 247);
	font-size: 12pt;
}

.buttons a:visited {
	text-decoration: none;
	color: rgb(247, 247, 247);
}

.buttons a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.left-pane{
	float: left;
	position: relative;
	width: 250px;
	height: 100%;
	text-align: center;
}

.navigation {
	position: relative;
	float: left;
	
	width: 100%;
	height: 100%;
	padding-top: 75px;
}

.navigation ul {
	line-height: 4rem;
	text-decoration: none;
	padding: 20px;
}

.left-pane ul li{
	list-style-type: none;
	font-size: 1.5em;
	text-decoration: none;
	font-weight: bold;
}

.navigation ul li a:hover{
	color: #20940c;
}

.main {
	position: relative;
	overflow: auto;
	padding-bottom: 100px;
	width: 75%;
	float: left;
}

.display-products{
	float: left;
}

#main-display h6{
	padding-left: 20px;
	clear: both;
}

.main article{
	padding: 10px 20px 20px 20px;
	margin-top: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.main article a:hover{
	color: #2BC448;
}

.main article h2{
	font-size: 24px;
	padding: 10px;
}

.main article ul li{
	margin-left: 40px;
}

#useful-links{
	padding: 40px;
}

#useful-links h1{
	font-weight: bold;
	font-size: 24px;
}

#useful-links article{
	padding: 20px;
}
#useful-links ul li{
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
}

.web-form {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 50%;
	height: 50%;
	padding: 40px 50px 50px 50px;
	margin-left: 100px;
}

.web-form input {
	border: #20940c solid 3px;
	border-radius: 25px;
	width: 100%;
	height: 30%;
	padding: 5px 15px 5px 15px;
	font-size: 16px;
}

.web-form h1 {
	padding: 10px;
	font-size: 32px;
}

.web-form h2 {
	padding: 5px;
}

.web-form p {
	padding-top: 10px;
}

.web-form input {
	margin-bottom: 10px;
}
.web-form textarea{
	border: #20940c solid 3px;
	border-radius: 25px;
	width: 100%;
	height: 30%;
	padding: 5px 15px 5px 15px;
}

.submit-button {
	border: #20940c solid 3px;
	border-radius: 25px;
	cursor: pointer;
	width: 20%;
	min-width: 125px;
	padding: 10px;
	margin-top: 10px;
	font-weight: bold;
}

.submit-button:hover {
	background-color: #2BC448;
	transition: 400ms;
}

.web-form a{
	position: relative;
	display: inline-block;
	padding-top: 10px;
}

#login-link{
	margin-left: 0;
}

.register-error {
	position: absolute;
	display: inline-block;
	width: 70%;
	justify-content: center;
	text-align: center;
	color: red;
	font-weight: bold;
	padding-top: 140px;
	padding-left: 220px;
}

.login-error {
	position: absolute;
	display: inline-block;
	width: 70%;
	justify-content: center;
	text-align: center;
	color: red;
	font-weight: bold;
	padding-left: 220px;
}

.form-success {
	position: absolute;
	display: inline-block;
	width: 70%;
	justify-content: center;
	text-align: center;
	color: #20940c;
	font-weight: bold;
	padding-left: 220px;
}

.about-main {
	position: relative;
	display: inline-block;
	width: 70%;
	padding-top: 40px;
}

.about-main h1{
	padding-bottom: 10px;
	font-size: 24pt;
	text-align: center;
}

.about-main h3 {
	position: relative;
	left: 110px;
}

.left-main ul{
	padding-left: 30px;
}

.left-main li{
	font-size: 14pt;
}

.top-section p{
	font-size: 14pt;
	padding-bottom: 20px;
}

.left-main {
	float: left;
	width: 50%;
	font-size: 14pt;
}

.left-main p{
	width: 75%;
	font-size: 14pt;
}

.about_images {
	display: flex;
	flex-direction: row;
	justify-content: left;
	text-align: center;
	font-weight: bold;
}

.about_images figure {
	padding: 20px;
}

.about_images figure img {
	border-radius: 50%;
	border: solid white 1px;
	box-shadow: grey 0 0 10px;
	width: 150px;
	height: 150px;
}

.thankyou_message{
	position: relative;
	color: #20940c;
	font-weight: bold;
	padding-top: 15px;
}

.contact-error{
	color: #d10606;
	font-weight: bold;
	padding-top: 15px;
}

.main-product{
	position: relative;
	width: 75%;
	float: right;
}

.product-left {
	float: left;
	width: 50%;
	padding-top: 50px;
}

.product-left h3 {
	padding: 10px;
}

.product-left img {
	width: 100%;
	border: rgb(66, 66, 66) solid 2px;
}

.product-right {
	position: absolute;
	display: inline-block;
	padding: 80px 30px 30px 50px;
}

.buy-section {
	padding: 50px 0 20px 0;
	line-height: 2rem;
}

#display-header {
	padding: 40px 0 20px 5px;
}

#display-header h4{
	font-size: 2em;
	padding-left: 12px;
}

.home-product{
	position: relative;
	float: left;
	width: 125px;
	height: 300px;
	padding: 5px;
	margin: 15px;
	font-size: 2em;
	border: #20940c solid 2px;
	border-radius: 15px;
	justify-content: center;
}

.prod-title{
	text-align: center;
}

.prod-brand{
	font-size: 0.8em;
}

.prod-bottom-section{
	display: block;
	margin: auto;
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.prod-bottom-section img{
	max-width: 100px;
	max-height: 200px;
	padding-bottom: 10px;
}

.add-to-cart-form{
	position: relative;
	text-align: center;
	padding-right: 250px;
}

#add-to-cart-button{
	border: #20940c solid 3px;
	border-radius: 25px;
	cursor: pointer;
	min-width: 110px;
	padding: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

#add-to-cart-button:hover{
	background-color: #2BC448;
	transition: 400ms;
}

#delete-button{
	border: #bb3632 solid 3px;
	border-radius: 25px;
	cursor: pointer;
	min-width: 110px;
	padding: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

#delete-button:hover{
	background-color: rgb(255, 134, 134);
	transition: 400ms;
}

#cart-header{
	padding: 40px 0 20px 20px;
}

#cart-header h1{
	font-size: 2em;
}

.cart-products{
	position: relative;
	padding: 20px;
}

.cart-products img{
	max-width: 100px;
	max-height: 100px;
	float: left;
}

.each-product{
	position: relative;
	border: #181818 solid 2px;
	margin: 20px;
	height: 100px;
	width: auto;
}

.order{
	float: right;
	margin-right: 20px;
}

#clear-cart{
	border: #bb3632 solid 3px;
	border-radius: 25px;
	cursor: pointer;
	min-width: 110px;
	padding: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

#clear-cart:hover{
	background-color: rgb(255, 134, 134);
	transition: 400ms;
}

#empty-cart{
	text-align: center;
	font-size: 1.2em;
}

.add-to-cart-error{
	font-weight: bold;
	color: #bb3632;
}

.add-to-cart-success{
	font-weight: bold;
	color: #20940c;
}

.order-placed{
	font-weight: bold;
	color: #20940c;
	padding-top: 10px;
}

.footer{
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: -100px;
	clear: both;
	background-image: linear-gradient(#3b3b3b, #181818);
	bottom: 0;
	margin-bottom: 0;
	border: 0;
	
}

.footer-address{
	padding-top: 5px;
	width: 100%;
	text-align: center;
}

.footer-address h6{
	color: #ebebeb;
	font-size: 10px;
}

.footer-address li{
	color: #ebebeb;
	font-size: 10px;
}

